h2{
  font-size: 1rem;
  color: #444;
  transition-property: font-size;
  transition-duration: .3s;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in;
}

h2:hover{
  color: #f60;
  font-size: 1.5rem;
  word-spacing: 1.5rem;
}

.box{
  width: 15rem;
  height: 15rem;
  background: #333;
}
.box:hover{
  animation-name: grow;
  animation-duration: 3s;
}

@keyframes grow{
  0% { width: 15rem; height: 15rem; background: #333; }
  25% { width: 40rem; height: 15rem; background-color: #999; border-radius: 2.5rem; }
  50% { width: 40rem; height: 30rem; background-color: #999; border-radius: 50%; }
  75% { width: 15rem; height: 30rem; background-color: #666; border-radius: 2.5rem;}
  100% { width: 15rem; height: 15rem; background-color: #333; }
}